// bower:scss
@import "bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower

// @import "../../bower_components/sass-mq/_mq.scss"; => Can be used instead of the previous one

// Base
@import "app/styles/base/base";
@import "app/styles/atoms/atoms";
@import "app/styles/molecules/molecules";
@import "app/styles/organisms/organisms";


// PORTFOLIO SECTION

.portfolio-section {
  padding: 40px 0 60px 0;
  background: $white;
  .section-intro {
    @extend %grid-md;
    margin-bottom: 40px;
    line-height: 1.3;
    text-align: center;
    color: $blackish;
  }
  .grid-wrapper-lg {
    @include breakpoint($mq-sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    @include breakpoint($mq-md) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    @include breakpoint($mq-xl) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
    }
  }
  .project-item {}
  .project-link,
  .project-figure,
  .project-img {
    width: 100%;
  }
  .cta-more-wrapper {
    text-align: center;
  }
  .cta-more {
    @include ctaMoreTwo($white);
  }
}


// Skill Section

.skill-section {
  padding: 60px 0;
  background: $blueLight;
  .section-intro {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.3;
  }
  .skill-bar-wrapper {
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
    .skill-btn {
      @extend %btn;
      float: left;
      width: 110px;
      height: 100%;
      margin-right: 2px;
      text-align: center;
      color: $white;
      background: $blueDark;
      &.is-active {
        background: $red;
      }
      &:hover {
        background: $red;
      }
    }
    .skill-bar {
      float: left;
      width: calc(100% - 112px);
      height: 100%;
      background: $whitish;
    }
    .skill-bar-inner {
      background: $blueLight;
      height: 100%;
      width: 0;
      transition: width 1.5s ease-in-out;
    }
  }
}


// SKILL BLOCK

.timeline-section {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  background: $white;
  .timeline-list {
    position: relative;
    z-index: 1;
    .timeline-item {
      margin-bottom: 10px;
    }
  }
  .timeline-cogs {
    position: absolute;
    width: 30%;
    &.timeline-cogs--left {
      top: -65px;
      left: -7.5%;
    }
    &.timeline-cogs--right {
      transform: rotate(180deg);
      bottom: -65px;
      right: -7.5%;
    }
    svg {
      float: left;
    }

    svg:nth-child(2) {
      margin-left: 24%;
      margin-top: -26%;
    }

    svg:nth-child(3) {
      margin-top: -26%;
    }
  }
}
