$icons: (
  sprite: (
    width: 867px,
    height: 733px,
    pngPath: '../images/png-sprites/sprite.png',
    svgPath: '../images/svg-sprites/sprite.svg'
  ),
  ico-animation: (
    width: 27.3px,
    height: 27.3px,
    backgroundX: 0px,
    backgroundY: 0px
  ),
  ico-border: (
    width: 32px,
    height: 2.78px,
    backgroundX: -28px,
    backgroundY: -28px
  ),
  ico-border-clean: (
    width: 95.06px,
    height: 10.69px,
    backgroundX: -60px,
    backgroundY: -31px
  ),
  ico-close: (
    width: 40.7px,
    height: 40.7px,
    backgroundX: -156px,
    backgroundY: -42px
  ),
  ico-design: (
    width: 86.7px,
    height: 86.7px,
    backgroundX: -197px,
    backgroundY: -83px
  ),
  ico-double-arrow: (
    width: 51px,
    height: 51px,
    backgroundX: -284px,
    backgroundY: -170px
  ),
  ico-drupal: (
    width: 182.8px,
    height: 208.6px,
    backgroundX: -335px,
    backgroundY: -221px
  ),
  ico-eye: (
    width: 28.8px,
    height: 17.4px,
    backgroundX: -518px,
    backgroundY: -430px
  ),
  ico-integration: (
    width: 92px,
    height: 81px,
    backgroundX: -547px,
    backgroundY: -448px
  ),
  ico-programmation: (
    width: 88.7px,
    height: 88.7px,
    backgroundX: -639px,
    backgroundY: -529px
  ),
  ico-quote: (
    width: 50px,
    height: 40px,
    backgroundX: -728px,
    backgroundY: -618px
  ),
  ico-responsive: (
    width: 88.8px,
    height: 74.3px,
    backgroundX: -778px,
    backgroundY: -658px
  ),
);
