// HEADER

.page-header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(180deg, #0144a4, #0272d3);
}
.header-bg1 {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg-clouds-1.svg") 50% 101% no-repeat;
  background-size: 110%;
}
.header-bg2 {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg-clouds-2.svg") 50% 100% no-repeat;
  background-size: 110%;
  transition: background-position 0.05s linear;
}
.header-bg3 {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg-clouds-3.svg") 50% 100% no-repeat;
  background-size: 110%;
  transition: background-position 0.05s linear;
}
.header-bg4 {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/bg-aukland-xl.svg") center 96% no-repeat;
  background-size: 100%;
}
.header-canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


$shadowsSmall: multipleBoxShadow(400);
$shadowsMedium: multipleBoxShadow(100);

.header-stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadowsSmall;
  animation: animStar 70s linear infinite;
  z-index: 1;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadowsSmall;
  }
}

.header-stars-big {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadowsMedium;
  animation: animStar 100s linear infinite;
  z-index: 1;
  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadowsMedium;
  }
}

// Header Content

.header-content {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  @include breakpoint($mq-lg) {
    padding-bottom: 5px;
  }
  @include breakpoint($mq-xxl) {
    padding-bottom: 100px;
  }
  .header-img {
    width: 150px;
    margin-bottom: 22px;
  }
  .page-title {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 22px;
    color: $white;
  }
  .page-title-main {
    @include font(24, 6, $openSans);
    margin-bottom: 6px;
    text-transform: uppercase;
  }
  .page-title-second {
    @include font(16, 6, $openSans);
  }
  .btn-down {
    @include sprite("ico-double-arrow");
    position: relative;
    z-index: 6;
    cursor: pointer;
  }
}
