// MODAL BLOCK

.modal-block {
  color: $white;
  background: rgba($red, 0.95);
  .modal-header {
    height: 80px;
    background: $blackish;
  }
  .modal-header-inner {
    @extend %wrapper-md;
    position: relative;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
  }
  .modal-img {
    margin-bottom: 20px;
  }
  .modal-title {
    @include font(32, 6, $openSans);
    color: $grey;
    text-transform: uppercase;
  }
  .modal-subtitle {
    @include font(18, 6, $openSans);
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .modal-list,
  .modal-txt {
    @include font(16, 6, $openSans);
    margin-bottom: 20px;
  }
  .modal-item {
    padding-left: 24px;
    position: relative;
    &:before {
      content: "+";
      position: absolute;
      left: 6px;
      margin-top: -1px;
    }
  }
  .modal-btn-close {
    @include sprite("ico-close");
    cursor: pointer;
    transition: transform 0.33s ease-in-out;
    &:hover {
      transform: rotate(-90deg);
    }
  }
  .modal-content {
    @extend %wrapper-md;
    padding-top: 60px;
    padding-bottom: 10px;
    @include breakpoint($mq-md) {
      padding-top: 80px;
    }
  }
}
