// Section Header

.section-header {
  position: relative;
  margin-bottom: 20px;
  opacity: 1;
  text-align: center;
  @include breakpoint($mq-lg) {
    opacity: 0;
  }
  &:before {
    position: absolute;
    z-index: 2;
    // content: "";
    display: block;
    bottom: -33px;
    width: 13px;
    height: 13px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: $white;
    border: 3px solid $black;
    transition: transform 0.8s ease-in;
    @include breakpoint($mq-lg) {
      bottom: -35px;
      width: 17px;
      height: 17px;
      transform: translateX(-50%) rotate(-135deg);
      border-radius: 4px;
    }
  }
  &:after {
    position: absolute;
    z-index: 1;
    // content: "";
    display: block;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: $black;
    width: 80%;
    max-width: 700px;
    transition: width 1s ease-in;
    @include breakpoint($mq-lg) {
      bottom: -25px;
      width: 0;
      height: 3px;
    }
  }
  // Anim title decoration
  &.anim-decoTitle {
    opacity: 1;
    &:before {
      transform: translateX(-50%) rotate(45deg);
    }
    &:after {
      width: 80%;
    }
  }
  .section-title {
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include breakpoint($mq-lg) {
      font-size: 30px;
    }
  }
}

// Sections with $blueDark background

.section-header--blueDark {
  @extend .section-header;
  color: $blackish;
  &:before {
    background: $white;
    border: 1px solid $black;
    @include breakpoint($mq-lg) {
      border: 3px solid $black;
    }
  }
  &:after {
    background: $black;
  }
}


// Sections with $blueLight background

.section-header--blueLight {
  @extend .section-header;
  color: $white;
  &:before {
    background: $blueLight;
    border: 1px solid $white;
    @include breakpoint($mq-lg) {
      border: 3px solid $white;
    }
  }
  &:after {
    background: $white;
  }
}

// Sections with $greyDark background

.section-header--greyDark {
  @extend .section-header;
  color: $white;
  &:before {
    background: $greyDark;
    border: 1px solid $white;
    @include breakpoint($mq-lg) {
      border: 3px solid $white;
    }
  }
  &:after {
    background: $white;
  }
}


// Sections with $white background

.section-header--white {
  @extend .section-header;
  color: $blackish;
  &:before {
    background: $white;
    border: 1px solid $blackish;
    @include breakpoint($mq-lg) {
      border: 3px solid $blackish;
    }
  }
  &:after {
    background: $blackish;
  }
}
