/* ------------------
   BASIC DOM ELEMENTS
   ------------------ */

html {
  font-size: 62.5%;
}

body {
  font-family: $openSans;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  color: $blackish;
  background: $white;
}

a {
  font-family: $openSans, $sansSerif; // Does not inherit
}

// Buttons

%btn {
  @include font(16, 6, $openSansMedium);
  position: relative;
  padding: 0;
  border-radius: 2px;
  letter-spacing: $base-letter-spacing;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-primary--white {
  @extend %btn;
  @include cta($white, $red);
  margin: 0 auto;
}

.btn-submit {
  @extend %btn;
  background: $red;
  color: $white;
  line-height: 44px;
}

// Form elements

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
  @include font(14, 6, $openSans);
  display: block;
  height: 38px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid $greyLightest;
  border-radius: 2px;
  background: $white;
  appearance: none;
  color: $blackish;
}

textarea {
  @include font(14, 6, $openSans);
  display: block;
  min-height: 250px;
  padding-left: 10px;
  padding-top: 8px;
  width: 100%;
  border: 1px solid $greyLightest;
  border-radius: 2px;
  background: $white;
  appearance: none;
  color: $blackish;
}

input, textarea {
  &:focus {
    outline: 1px solid $red;
    border: 1px solid $red;
  }
}

// BOXES STYLES

%box-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

// OLD BROWSERS CSS GRID

.legacy-css-grid-txt {
  @include font(16, 10, $openSansItalic);
  padding: 12px;
  border-radius: 3px;
  text-align: center;
  color: $white;
  background: $grey;
}

@supports(display:grid) {
  .legacy-css-grid {
    display: none;
  }
}
