/* ------------------
   BASIC DOM ELEMENTS
   ------------------ */

html {
  font-size: 62.5%;
}

body {
  font-family: $openSans;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  color: $blackish;
  background: $white;
}

a {
  font-family: $openSans, $sansSerif; // Does not inherit
}

%btn {
  position: relative;
  padding: 0;
  font-size: 16px;
  border-radius: 2px;
  appearance: none;
  cursor: pointer;
}

.btn-primary--white {
  @extend %btn;
  @include cta($white, $red);
  margin: 0 auto;
}

.btn-submit {
  @extend %btn;
  background: $red;
  color: $white;
  text-transform: uppercase;
}

// Form elements

input, textarea {
  &:focus {
    outline: 1px solid $red;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
  display: block;
  height: 38px;
  padding-left: 10px;
  width: 100%;
  border: 1px solid $greyLightest;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.4;
  background: $white;
  appearance: none;
  color: $blackish;
}

textarea {
  display: block;
  min-height: 250px;
  padding-left: 10px;
  padding-top: 8px;
  width: 100%;
  border: 1px solid $greyLightest;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.4;
  background: $white;
  appearance: none;
  color: $blackish;
}

/* ------------
   BOXES STYLES
   ------------ */

%box-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

