// STRUCTURE

%wrapper-md {
  width: 100%;
  padding: 0 20px;
  max-width: 980px;
  margin: 0 auto;
  @include breakpoint($mq-lg) {
    padding: 0 40px;
  }
}

%wrapper-lg {
  width: 100%;
  padding: 0 20px;
  max-width: 1480px;
  margin: 0 auto;
  @include breakpoint($mq-lg) {
    padding: 0 40px;
  }
}

.page-wrapper-md {
  @extend %wrapper-md;
}

.page-wrapper-lg {
  @extend %wrapper-lg;
}
