// PROJECT ITEM

.project-item {
  .project-link {
    position: relative;
    overflow: hidden;
  }
  .project-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    // pointer-events: none;
    @include breakpoint(max-width $mq-lg) {
      top: 0 !important;
      left: 0 !important;
    }
  }
  .project-content {
    display: flex;
    height: calc(100% - 40px);
    padding: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .project-seemore {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 40px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background: $red;
    cursor: pointer;
    .seemore-txt {
      @include font(16, 4, $openSans);
      color: $white;
    }
    .seemore-ico {
      @include sprite("ico-eye");
    }
  }
  .project-title {
    @include font(18, 6, $openSansMedium);
    margin-bottom: 15px;
    color: $red;
    text-transform: uppercase;
  }
  .project-txt {
    @include font(14, 4, $openSansItalic);
    color: white;
  }
}
