// SKILL ITEM

.skill-item {
  display: flex;
  height: 34px;
  @include breakpoint($mq-md) {
    height: 40px;
  }
  .skill-title {
    @include font(11, 6, $openSansMedium);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 90px 0;
    margin-right: 4px;
    border-radius: 3px;
    text-align: center;
    color: $white;
    letter-spacing: 0;
    text-transform: uppercase;
    background: $darknight;
    @include breakpoint($mq-md) {
      @include font-size(13, 6);
      flex: 120px 0;
    }
  }
  .skill-bar {
    overflow: hidden;
    flex: auto 1;
    border-radius: 3px 20px 20px 3px;
    background: $blueMiddle;
  }
  .skill-bar-inner {
    height: 34px; // Safari
    width: 0;
    border-radius: 3px 0 0 3px;
    background: $blueDark;
    transition: width 1.5s ease-in-out;
    @include breakpoint($mq-md) {
      height: 40px;
    }
  }
}
