// TIMELINE DATE

.timeline-date {
  position: relative;
  .timeline-date-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 10px solid $red;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: $white;
  }
  .timeline-year {
    @include font(24, 0, $openSansMedium);
  }
  .timeline-month {
    @include font(12, 2, $openSans);
    letter-spacing: 0;
  }
  .timeline-draw {
    position: absolute;
    top: 0;
    bottom: 0;
    background: $red;
    width: 16px;
    left: 50%;
    margin-left: -8px;
    &:after {
      @include pseudoElement();
      top: 50%;
      left: 50%;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background: $white;
    }
  }
}
